nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 75px;
	background: transparent;
	/* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
	z-index: 99;
}
.nav-color {
	transition: 350ms;
	background-color: green !important;
}
nav .nav-header {
	height: 100%;
	max-width: 1250px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	/* background: blue; */
	padding: 0 50px;
}
.nav-header .logo img,
.logo-name img {
	width: 60px;
	height: 60px;
}

@media screen and (max-width: 450px) {
	.nav-header .logo img,
	.logo-name img {
		width: 50px;
		height: 50px;
	}
}
nav .nav-header .menu-links {
	line-height: 70px;
	height: 100%;
}
nav .nav-header .links {
	display: flex;
}
nav .nav-header .links li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0 14px;
	width: 100%;
}
nav .nav-header .links li a {
	/* height: 100%; */
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	font-size: 20px;
	/* font-weight: 500; */
	font-weight: bold;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
	transform: rotate(180deg);
}

nav .nav-header .links li .arrow {
	/* background: blue; */
	height: 100%;
	width: 22px;
	line-height: 70px;
	text-align: center;
	display: inline-block;
	color: #fff;
	transition: all 0.3s ease;
}
nav .nav-header .links li .sub-menu {
	position: absolute;
	top: 70px;
	left: 0;
	line-height: 40px;
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
	display: none;
	z-index: 2;
	border-radius: 8px;
}
nav .nav-header .links li:hover .htmlCss-sub-menu,
nav .nav-header .links li:hover .js-sub-menu {
	display: block;
}
.nav-header .links li .sub-menu li {
	padding: 0 22px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-header .links li .sub-menu a {
	color: green;
	font-size: 15px;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
}
.nav-header .links li .sub-menu li:hover {
	background-color: green;
}
.nav-header .links li .sub-menu li:nth-child(1):hover {
	border-radius: 8px 8px 0 0;
}
.nav-header .links li .sub-menu li:last-of-type:hover {
	border-radius: 0 0 8px 8px;
}
.nav-header .links li .sub-menu li:hover > a {
	color: #fff !important;
}
.nav-header .links li .sub-menu .more-arrow {
	line-height: 40px;
}
.nav-header .links li .htmlCss-more-sub-menu {
	/* line-height: 40px; */
}
.nav-header .links li .sub-menu .more-sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 0 4px 4px 4px;
	z-index: 1;
	display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
	display: block;
}

.nav-header .menu-links .sidebar-logo {
	display: none;
}
.nav-header .bx-menu {
	display: none;
}
@media (max-width: 1199px) {
	nav .nav-header {
		max-width: 100%;
		padding: 0 25px;
		flex-direction: row-reverse;
	}

	nav .nav-header .logo a {
		font-size: 27px;
	}
	nav .nav-header .links li {
		padding: 10px;
		white-space: nowrap;
	}
	nav .nav-header .links li a {
		font-size: 15px;
	}
}
@media (max-width: 1199px) {
	nav {
		/* position: relative; */
	}
	.nav-header .bx-menu {
		display: block;
	}
	nav .nav-header .menu-links {
		position: fixed;
		top: 0;
		left: -100%;
		display: block;
		max-width: 90%;
		/* max-width: 350px; */
		width: 100%;
		background: green;
		line-height: 40px;
		padding: 20px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		transition: all 0.5s ease;
		z-index: 1000;
	}
	.nav-header .menu-links .sidebar-logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.sidebar-logo .logo-name {
		font-size: 25px;
		color: #fff;
	}
	.sidebar-logo i,
	.nav-header .bx-menu {
		font-size: 50px;
		color: #fff;
	}
	nav .nav-header .links {
		display: block;
		margin-top: 20px;
	}
	nav .nav-header .links li .arrow {
		line-height: 40px;
	}
	nav .nav-header .links li {
		display: block;
	}
	nav .nav-header .links li .sub-menu {
		position: relative;
		top: 0;
		box-shadow: none;
		display: none;
	}
	nav .nav-header .links li .sub-menu li {
		border-bottom: none;
	}
	.nav-header .links li .sub-menu .more-sub-menu {
		display: none;
		position: relative;
		left: 0;
	}
	.nav-header .links li .sub-menu .more-sub-menu li {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.links li:hover .htmlcss-arrow,
	.links li:hover .js-arrow {
		transform: rotate(0deg);
	}
	.nav-header .links li .sub-menu .more-sub-menu {
		display: none;
	}
	.nav-header .links li .sub-menu .more span {
		/* background: blue; */
		display: flex;
		align-items: center;
		/* justify-content: space-between; */
	}

	.links li .sub-menu .more:hover .more-sub-menu {
		display: none;
	}
	nav .nav-header .links li:hover .htmlCss-sub-menu,
	nav .nav-header .links li:hover .js-sub-menu {
		display: none;
	}
	.nav-header .menu-links.show1 .links .htmlCss-sub-menu,
	.nav-header .menu-links.show3 .links .js-sub-menu,
	.nav-header .menu-links.show2 .links .more .more-sub-menu,
	.show-menu {
		display: block !important;
	}
	.nav-header .menu-links.show1 .links .htmlcss-arrow,
	.nav-header .menu-links.show3 .links .js-arrow,
	.rotate {
		transform: rotate(180deg) !important;
	}
	.nav-header .menu-links.show2 .links .more-arrow {
		transform: rotate(90deg);
	}
}
@media screen and (max-width: 768px) {
	.h-phone {
		display: none;
	}
}
@media (max-width: 370px) {
	nav .nav-header .menu-links {
		max-width: 100%;
	}
}
